<h1>Home page</h1>
<% if session[:client]["client_logged_in"] %>
    <p>Welcome, client user!</p>
    <%= link_to "Logout", client_session_logout_path %>
<% else %>
    <p>You are not logged in.</p>
    <%= link_to "Login", client_session_login_path %>
    <%= link_to "Sign up", client_session_user_registration_path %>
<% end %>